.nodeTypeImage {
    /* padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px; */
    float: left;
}

.nodeTypeImage img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
