.nodeTypeButtonGroup {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.buttons {
    grid-auto-flow: column;
    grid-column-gap: 20px;
}

@media screen and (max-width: 1765px) {
    .buttons {
        margin-top: 15px;
    }
}
.clearButton {
    margin-right: 20px;
}

.select {
    margin-right: 20px;
}

.startButton {
    margin-right: 20px;
}
