.node {
    background: #fff;
    border: 1px solid #7b7b7b;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #ece4e4;
    font-weight: 1000;
}

.node:focus {
    outline: none;
}

.source {
    background-image: url('../../../assets/images/start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.destination {
    background-image: url('../../../assets/images/destination.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.wall {
    background-image: url('../../../assets/images/wall.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.weight {
    background: url('../../../assets/images/weight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index: -1;
}

.visitedWeight {
    background: url('../../../assets/images/weight.png') repeat, radial-gradient(circle, #2193b0 0%, #6dd5ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index: -1;
}

.visitedShortestPathWeight {
    background: url('../../../assets/images/weight.png') repeat, radial-gradient(circle, #fceabb 0%, #f8b500 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index: -1;
    color: black;
}

.visited {
    background: radial-gradient(circle, #2193b0 0%, #6dd5ed 100%);
    animation-name: specialNodes;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index: -1;
}

.shortestPath {
    background-image: radial-gradient(circle, #fceabb 0%, #f8b500 100%);
    animation-name: specialNodes;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index: -1;
    color: black;
}

@keyframes specialNodes {
    0% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
