.node {
    background: #fff;
    border: 1px solid #7b7b7b;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #7b7b7b;
    font-weight: 1000;
}

.node:focus {
    outline: none;
}
