.nodeTypeButton {
    border: 1px solid #fff;
    /* border-radius: 40px; */
    color: #fff;
    background: transparent;
    display: inline-flex;
}

.text {
    width: fit-content;
    /* padding-right: 5px;
    padding-top: 5px; */
    font-size: 1.2em;
    padding: 10px;
}

.text:hover {
    cursor: pointer;
}

.nodeTypeButton:focus {
    outline: 0;
}

.nodeTypeButton:hover {
    cursor: pointer;
    background: #23282c;
}

.nodeTypeButtonActive {
    background: #343a40;
    color: white;
}
