.stack {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-left: 4px;
    border-style: solid;
}

.unvisitedStack {
    border-color: #23282c;
    background-color: #23282c;
}

.swappingStack {
    border-color: #397bff;
    background-color: #397bff;
}

.currentStack {
    border-color: #6435c9;
    background-color: #6435c9;
}

.sortInPlaceStack {
    border-color: #21ba45;
    background-color: #21ba45;
}

.mergingStack {
    border-color: #397bff;
    background-color: #397bff;
}

.leftToMergeStack {
    border-color: #397bff;
    background-color: #397bff;
}
