.sortOptionsButtonGroup {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.slider {
    display: inline-block;
    margin-right: 20px;
}

.startButton {
    margin-right: 20px;
}
