.sortOptionsButtonGroup {
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    background-color: #666a86;
}

.slider {
    display: inline-block;
    margin-right: 20px;
}

.startButton {
    margin-right: 20px;
}

.clearButton {
    margin-right: 20px;
}
